name: Release module

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    strategy:
      matrix:
        version: [ '1.15', '1.16', '1.17', '1.18', '1.19', '1.20' ]
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Golang
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.version }}
          check-latest: true
      - name: Test
        run: go test -v
      - name: Release
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    